PROJECT_ID=<Get this from your cloud consolde dashboard, selecting the proper project: https://console.cloud.google.com/home/dashboard>
CLIENT_EMAIL=<Insert the service account email here: https://console.cloud.google.com/iam-admin/serviceaccounts?project=<your gcp project id>>
PRIVATE_KEY=<this private key should be copied entirely from the JSON, click on manage keys > create new (create a new one if needed): https://console.cloud.google.com/iam-admin/serviceaccounts/?project=<your project id> | it looks something like this:"-----BEGIN PRIVATE KEY-----\nyour-key-here-keep-the-quotes\n-----END PRIVATE KEY-----\n">
BUCKET_NAME=<get this from: https://console.cloud.google.com/storage/browser?project=<your gcp project id>>
GCS_OUTPUT_PREFIX=<name of the subfolder, you want to persist google document ai responses to, e.g.: DOCUMENTAI_RESPONSES>/