node_modules
.next
.env.local
.DS_Store
.env
.env.local
# Next.js generates its own .tsbuildinfo at .next/cache. So, I guess you don't commit tsconfig.tsbuildinfo to version control.
tsconfig.tsbuildinfo